<!doctype html>
<html ng-app="bloxm">
  <head>
	<link rel="stylesheet" href="css/angular-material.min.css">
	<link rel="stylesheet" href="css/bloxm.css">
	<!--link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css"-->
    <!--link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"-->
  </head>
  <body layout="column" ng-controller="bloxmCtrl" layout-fill ng-show="configService.isConfigLoaded('system')">
        <md-toolbar class="md-hue-2 md-tall" layout="column" layout-align="center center">
            <div class="md-toolbar-tools" layout="row">
                <md-button class="blx-toolbar-button" aria-label="menu" ng-click="showSideNav=!showSideNav">
                  <i class="material-icons" aria-label="menu" 
                      ng-class="{'blx-tb-text-xs': mdMedia('xs'), 'blx-tb-text-sm': mdMedia('sm'), 'blx-tb-text-md': mdMedia('md'), 'blx-tb-text-lg': mdMedia('lg'), 'blx-tb-text-xl': mdMedia('xl')}"
                  >menu</i>
                </md-button>
                <div layout="column">
                    <img src="assets/logo_trans.png"/>
                    <!--div layout="row">
                        <span flex></span>
                        <div layout-align="left bottom" class="md-caption">Version {{buildString}}</div>
                    </div-->
                </div>
                <span flex></span>
                <md-button class="blx-toolbar-button" aria-label="Logout" 
                    ng-disabled="!blxSessionService.isLoggedIn()" 
                    ng-click="blxSessionService.Logout()">
                    <md-tooltip md-direction="bottom" md-visible="tooltipVisible">Logout</md-tooltip>
                    <i class="material-icons" 
                      ng-class="{'blx-tb-text-xs': mdMedia('xs'), 'blx-tb-text-sm': mdMedia('sm'), 'blx-tb-text-md': mdMedia('md'), 'blx-tb-text-lg': mdMedia('lg'), 'blx-tb-text-xl': mdMedia('xl')}"
                    >exit_to_app</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout="row" flex>
            <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" 
                md-component-id="left" 
                md-is-locked-open="$mdMedia('gt-md')" 
                md-is-open="showSideNav" 
                ng-init="showSideNav=false">
              <md-list>
                  <md-item ng-repeat="item in menu" ng-show="configService.isConfigLoaded('system') && 
                                                             get(system, 'files[?(@.name == \'state\')].data[0]') && canShow(item.data)">
                      <a href="#/{{item.link}}">
                      <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <md-icon class="material-icons">{{item.icon}}</md-icon>
                        </div>
                        <div class="inset">{{item.title}}
                        </div>
                      </md-item-content>
                    </a>
                  </md-item>
                  <md-divider></md-divider>
                  <md-subheader>Management</md-subheader>
                  <md-item ng-repeat="item in mgmtMenu" ng-show="configService.isConfigLoaded('system') && 
                                                             get(system, 'files[?(@.name == \'state\')].data[0]') && canShow(item.data)">
                      <a href="#/{{item.link}}">
                      <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <md-icon class="material-icons">{{item.icon}}</md-icon>
                        </div>
                        <div class="inset">{{item.title}}
                        </div>
                      </md-item-content>
                    </a>
                  </md-item>
              </md-list>
            </md-sidenav>
            <md-content layout="column" flex>
                <div ng-view></div>
            </md-content>
        </md-content>

    <script src="libjs/angular.min.js"></script>
    <script src="libjs/angular-animate.min.js"></script>
    <script src="libjs/angular-aria.min.js"></script>
    <script src="libjs/angular-route.min.js"></script>
    <script src="libjs/angular-md5.min.js"></script>
    <script src="libjs/angular-messages.min.js"></script>
    <script src="libjs/angular-state-machine.min.js"></script>
    <script src="libjs/angular-digest-auth.min.js"></script>
    <script src="libjs/angular-idle.min.js"></script>
    <script src="libjs/ngStorage.min.js"></script>

    <script src="libjs/angular-material.min.js"></script>

	<script src="libjs/jsonpath-0.8.0.js"/></script>
	<script src="libjs/NoSleep.min.js"/></script>

    <!--Load js files containing modules, before our app -->
    <script src="js/bloxmControllers.js"></script>
    <script src="js/devicesCtrl.js"></script>
    <script src="js/welcomeCtrl.js"></script>
    <script src="js/dashboardCtrl.js"></script>
    <script src="js/routerCtrl.js"></script>
    <script src="js/pleasewaitCtrl.js"></script>
    <script src="js/settingsCtrl.js"></script>
    <script src="js/logCtrl.js"></script>

    <script src="js/app.js"></script>
    <script src="js/bloxmCtrl.js"></script>
    <script src="js/configService.js"></script>
    <script src="js/sessionService.js"></script>

  </body>
</html>
