<md-content layout-xs="column" layout-md="column" layout="row" layout-align="center center" layout-fill ng-show="configService.isConfigLoaded('dhcp') && configService.isConfigLoaded('devices')">
    <div class="inset" hide-sm></div>
    <md-card flex ng-show="getparentvalpatharray(dhcp, '$.children[*].files[?(@.name == \'state\' &amp;&amp; @.data[0] == \'UNREGISTERED\')]', 2, 'dhcp')[0].ref.files.length">
        <md-card-content>
            <div class "md-title" layout="row" layout-align="left center">
                <md-button class="md-icon-button md-primary" aria-label="expand" ng-click="expandDiscoveredDevices=!expandDiscoveredDevices" ng-init="expandDiscoveredDevices=true" ng-hide="mdMedia('gt-md')">
                    <i class="material-icons" aria-label="expand">{{expandDiscoveredDevices ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}</i>
                </md-button>
                <h2>Discovered Devices</h2>
            </div>
            <div ng-show="expandDiscoveredDevices">
                <div>These devices have been seen on your network but have not yet been identified.</div>
                <p>Their Internet access is <span class="blx-filteredchip">Filtered</span>. If you want to change the filtering options for a device you must name it.</p>
                <p/>
                <div layout="row" layout-align="left center">
                    <div class="md-padding"><i class="material-icons">info_outline</i></div>
                    <div layout="column">
                        <div>The easiest way to identify a device is get the person using it to tell you.</div>
                        <div>If you select the 'Ask User' option, the user will be asked to identify their device then next time they go to a web page</div>
                    </div>
                </div>

                <h5>Give the device a name to customise filtering options. Select 'Ask User' to have the user suggest a name.</h5>
                <md-list>
                    <md-list-item ng-repeat="device in getparentvalpatharray(dhcp, '$.children[*].files[?(@.name == \'state\' &amp;&amp; @.data[0] == \'UNREGISTERED\')]', 2, 'dhcp')">
                        <div class="md-tile-left inset" hide-sm>
                            <user-avatar></user-avatar>
                        </div>
                        <div class="md-tile-content" layout="column">
                            <div layout="row" layout-align="left center">
                                <md-input-container style="margin-bottom:0" md-no-float>
                                    <blx-bind-child blx-model="getvalpath(device, 'files[?(@.name == \'name\')].data[0]')" blx-callback="registerDevice(device, 'FILTERED')">
                                        <blx-input type="text" placeholder="Give the device a name" minlength="0" maxlength="40" ng-model-options="{updateOn: 'blur'}"></blx-input>
                                    </blx-bind-child>
                                </md-input-container>

                                <div class="md-caption">or</div>
                                <md-button ng-click="registerDevice(device, 'REQUESTNAME', 'Unknown ' + sessionService.randString(16))" class="md-primary">Ask User</md-button>
                            </div>
                            <div layout="row" flex>
                                <div class="blx-infochip" layout="row" style="margin-top:0;margin-bottom:0" layout-align="center center">
                                    <div class="md-padding"><i class="material-icons">info_outline</i></div>
                                    <div layout="column" style="margin-top:0">
                                        <div class="md-caption">IP address {{get(dhcp, 'links[?(@.targetname == \'' + device.ref.name + '\')].name')}}</div>
                                        <div class="md-caption">MAC address: {{device.ref.name}}</div>
                                    </div>
                                    <div class="md-padding"></div>
                                </div>
                                <span flex></span>
                            </div>
                            <span flex>&nbsp;</span>
                        </div>
                        <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                        <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </div>
            <!--Collapse div-->
        </md-card-content>
    </md-card>
    <md-card flex flex-gt-md="50" ng-show="getparentvalpatharray(devices, '$.children[*].files[?(@.name == \'state\' &amp;&amp; @.data[0] != \'REQUESTNAME\' &amp;&amp; @.data[0] != \'NEEDSAPPROVAL\')]', 2, 'devices')[0].ref.files.length">
        <md-card-content>
            <div class "md-title" layout="row" layout-align="left center">
                <md-button class="md-icon-button md-primary" aria-label="expand" ng-click="expandIdentifiedDevices=!expandIdentifiedDevices" ng-init="expandIdentifiedDevices=true" ng-hide="mdMedia('gt-md')">
                    <i class="material-icons" aria-label="expand">{{expandIdentifiedDevices? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}</i>
                </md-button>
                <h2>Identified Devices</h2>
            </div>
            <div ng-show="expandIdentifiedDevices">
                <div>These are the devices you have identified on your network.</div>
                <p>Their Internet access is <span class="blx-filteredchip">Filtered</span> according to the settings you can see below</p>

                <h5>You can change Internet access settings for each device</h5>
                <md-list>
                    <md-list-item ng-repeat="device in getparentvalpatharray(devices, '$.children[*].files[?(@.name == \'state\' &amp;&amp; @.data[0] != \'NEEDSAPPROVAL\' &amp;&amp; @.data[0] != \'NEEDSAPPROVAL\')]', 2, 'devices')">
                        <div class="md-tile-left inset" hide-sm>
                            <user-avatar></user-avatar>
                        </div>
                        <div class="md-tile-content" layout="column">
                            <div layout="row" layout-align="left center">
                                <div class="md-headline md-padding" layout-fill style="outline:none" ng-click="showRename=!showRename" ng-init="showRename=false">{{getvalpath(device, 'files[?(@.name == \'name\')].data[0]').ref}}</div>
                                <div layout="row" layout-fill layout-align="right center">
                                    <span flex></span>
                                    <md-button class="md-icon-button" aria-label="View Logs" ng-click="viewLogs(device.ref.name, getvalpath(device, 'files[?(@.name == \'name\')].data[0]').ref, $event)">
                                        <i class="material-icons" aria-label="view logs">visibility</i>
                                    </md-button>
                                    <md-button class="md-icon-button" aria-label="View Logs" ng-click="assignUser">
                                        <i class="material-icons" aria-label="view logs">perm_identity</i>
                                    </md-button>
                                </div>
                            </div>
                            <md-input-container style="margin-bottom:0" layout="row" md-no-float ng-show="showRename">
                                <blx-bind-child blx-model="getvalpath(device, 'files[?(@.name == \'name\')].data[0]')" blx-callback="renameDevice(device)">
                                    <blx-input type="text" placeholder="Name of device" minlength="0" maxlength="40" focus-on="showRename" ng-blur="showRename=false" ng-model-options="{updateOn: 'blur'}"></blx-input>
                                </blx-bind-child>
                            </md-input-container>
                            <div layout="row" layout-align="left center">
                                <blx-bind-child blx-model="getvalpath(device, '$.files[?(@.name == \'state\')].data[0]')">
                                    <blx-md-switch class="md-padding" ng-true-value="'FILTERED'" ng-false-value="'UNFILTERED'">Filter Internet Access</blx-md-switch>
                                </blx-bind-child>
                                <div ng-class="showInfo ? 'blx-infochip' : ''" layout="row" style="margin-top:0;margin-bottom:0" layout-align="center center" ng-mouseenter="showInfo=true" ng-mouseleave="showInfo=true" ng-init="showInfo=true">
                                    <div class="md-padding"><i class="material-icons">info_outline</i></div>
                                    <div layout="column" style="margin-top:0" ng-show="showInfo">
                                        <div class="md-caption">IP address {{get(dhcp, 'links[?(@.targetname == \'' + device.ref.name + '\')].name')}}</div>
                                        <div class="md-caption">MAC address: {{device.ref.name}}</div>
                                    </div>
                                    <div class="md-padding"></div>
                                </div>
                                <span flex></span>
                            </div>
                        </div>
                        <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                        <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
                </div>
                <!--Collapse div-->
        </md-card-content>
    </md-card>

    <md-card flex flex-gt-md="50" ng-show="getparentvalpatharray(devices, '$.children[*].files[?(@.name == \'state\' &amp;&amp; ( @.data[0] == \'REQUESTNAME\' ||  @.data[0] == \'NEEDSAPPROVAL\'))]', 2, 'devices')[0].ref.files.length">
        <md-card-content>
            <div class "md-title" layout="row" layout-align="left center">
                <md-button class="md-icon-button md-primary" aria-label="expand" ng-click="expandRecognisedDevices=!expandRecognisedDevices" ng-init="expandRecognisedDevices=true" ng-hide="mdMedia('gt-md')">
                    <i class="material-icons" aria-label="expand">{{expandIdentifiedDevices? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}</i>
                </md-button>
                <h2>Recognised Devices</h2>
            </div>
            <div ng-show="expandRecognisedDevices">
                <div>These devices have been seen on your network but have not yet been identified.</div>
                <p>Their Internet access is <span class="blx-blockedchip">Blocked</span> until the device is identified.</p>
                <p>If you want to change the filtering options for a device you must name it.</p>
                <p/>

                <h5>Give the device a name to customise filtering options.</h5>
                <md-list>
                    <md-list-item ng-repeat="device in getparentvalpatharray(devices, '$.children[*].files[?(@.name == \'state\' &amp;&amp; ( @.data[0] == \'REQUESTNAME\' || @.data[0] == \'NEEDSAPPROVAL\'))]', 2, 'devices')">
                        <div class="md-tile-left inset" hide-sm>
                            <user-avatar></user-avatar>
                        </div>
                        <div class="md-tile-content" layout="column">
                            <div layout="row" layout-align="left center">
                                <md-input-container style="margin-bottom:0" md-no-float ng-show="showRename">
                                    <blx-bind-child blx-callback="setDeviceState(device, 'FILTERED', filteredDeviceName)">
                                        <blx-input type="text" placeholder="Give the device a name" minlength="0" maxlength="40" focus-on="showRename" ng-blur="showRename=false" ng-model="filteredDeviceName" ng-model-options="{updateOn: 'blur'}"></blx-input>
                                    </blx-bind-child>
                                </md-input-container>
                                <md-button aria-label="Name device" ng-click="showRename=!showRename" class="md-primary" ng-init="showRename=false" ng-bind="showRename ? 'Cancel' : 'Waiting for User'"></md-button>
                            </div>
                            <div layout="row" flex>
                                <div class="blx-infochip" layout="row" style="margin-top:0;margin-bottom:0" layout-align="center center">
                                    <div class="md-padding"><i class="material-icons">info_outline</i></div>
                                    <div layout="column" style="margin-top:0">
                                        <div class="md-caption">IP address {{get(dhcp, 'links[?(@.targetname == \'' + device.ref.name + '\')].name')}}</div>
                                        <div class="md-caption">MAC address: {{device.ref.name}}</div>
                                    </div>
                                    <div class="md-padding"></div>
                                </div>
                                <span flex></span>
                            </div>
                            <span flex>&nbsp;</span>
                        </div>
                        <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                        <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </div>
            <!--Collapse div-->
        </md-card-content>
    </md-card>
    <!--
                <div flex="66">
                    <div ng-show="get(device, 'files[?(@.name == \'state\')].data[0]') == 'UNFILTERED'" ng-click="cycleProtection(device)">
                        <ng-md-icon icon="supervisor_account"></ng-md-icon> <p>Unfiltered</p>
                    </div>
                    <div ng-show="get(device, 'files[?(@.name == \'state\')].data[0]') == 'FILTERED'"/> 
                        <ng-md-icon icon="visibility"></ng-md-icon> <p>{{get(device, "links[?(@.name == 'dnsblock')].targetname")}}</p>
                        <section layout="row" layout-sm="column">
                        <md-button ng-repeat="policy in defaultpolicy.files" 
        ng-class="get(device, 'links[?(@.name == \'dnsblock\')].targetname') != policy.name ? 'md-raised' : '' " class="groupX"
        ng-click="set(device, 'links[?(@.name == \'dnsblock\')].targetname', policy.name, 'devices')">{{policy.name}}</md-button>
                                        </section>
                    </div>
                    <div ng-show="get(device, 'files[?(@.name == \'state\')].data[0]') == 'REGISTERED'">
                        <ng-md-icon icon="fingerprint"></ng-md-icon> <p>Awaiting authorisation</p>
                    </div>
                    <div ng-show="get(device, 'files[?(@.name == \'state\')].data[0]') == 'BLOCKED'" ng-click="cycleProtection(device)">
                        <ng-md-icon icon="block"></ng-md-icon> <p>Internet access blocked</p>
                    </div>
                       </div>
                </div>
      -->
</md-content>
