<md-dialog aria-label="Login" flex="30">
    <form name="loginDlg" layout="column" ng-submit="doLogin()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Login</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="dlgCancel()">
                    <ng-md-icon aria-label="close" icon="close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content layout="column" class="md-padding">
            <md-input-container>
                <input type="text" 
                    placeholder="Email address"
                    ng-model="loginParam.emailAddress"
                    name="emailAddress"
                    minlength="3" 
                    maxlength="255" 
                    md-maxlength="255" 
                    ng-pattern="/^.+@.+\..+$/"
                    required>
                <div ng-messages="loginDlg.emailAddress.$error" role="alert" ng-show="loginDlg.emailAddress.$invalid">
                    <div ng-message="required">Required</div>
                    <div ng-message="pattern">Not a valid email address</div>
                    <div ng-message="maxlength">Email address too long</div>
                </div>
            </md-input-container>
            <md-input-container>
                <input type="{{hidePassword ? 'password' : 'text'}}" 
                    placeholder="Password"
                    ng-model="loginParam.password"
                    name="password"
                    minlength="6" 
                    maxlength="40"
                    md-maxlength="40"
                    required>
                <div ng-messages="loginDlg.password.$error" role="alert" ng-show="loginDlg.password.$invalid">
                    <div ng-message="required">Required</div>
                    <div ng-message="minlength">Password too short</div>
                    <div ng-message="maxlength">Password too long</div>
                </div>
            </md-input-container>
            <md-checkbox ng-model="hidePassword" arial-label="Hide password">Hide password</md-checkbox>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end">
             <md-button ng-disabled="loginDlg.$invalid" type="submit" class="md-primary">
                Login 
            </md-button>
            <md-button ng-click="dlgCancel()">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

