<md-dialog layout="column" aria-label="View logs" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Viewing logs for {{deviceName}} </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="dlgCancel()">
                    <ng-md-icon aria-label="close" icon="close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content layout="column" class="md-padding"  style="border: 2px solid #000;">
            <md-virtual-repeat-container id="vertical-container" style="border: 1px solid #30C;">
                <div md-virtual-repeat="item in logs.files[0].data" class="repeated-item" layout="row">
                    <div layout="row" style="border: 1px solid #9DE;" ng-init="curItem=logDecode(item)" layout-fill>
                        <div flex>{{(curItem.w  + 1451606400) * 1000 | date: 'MM/dd/yyyy HH:mm'}}</div>
                        <div flex>{{curItem.h}}</div>
                        <div flex>{{curItem.c}}</div>
                    </div>
                </div>
            </md-virtual-repeat-container>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end">
            <md-button ng-click="close()">Close</md-button>
        </md-dialog-actions>
</md-dialog>


