<md-content flex md-scroll-y layout="column" layout-fill layout-align="center center">
      <md-card layout="column">
          <md-card-content layout="column" class="md-padding" layout-fill layout-align="center center">
             <h2>Loading - Please wait...</h2>
             <md-progress-circular class="md-padding md-warn md-hue-3" md-diameter="60"></md-progress-circular>
          </md-card-content>
      </md-card>

</md-content>
