<md-dialog aria-label="Create Parent account" flex="30">
    <form name="createParent" layout="column" ng-submit="doRegister()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create Parent account</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="dlgCancel()">
                    <ng-md-icon aria-label="close" icon="close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content layout="column" class="md-padding">
            <md-input-container>
                <input type="text" 
                    placeholder="Email address"
                    ng-model="cp.emailAddress"
                    name="emailAddress"
                    minlength="3" 
                    maxlength="255" 
                    md-maxlength="255" 
                    ng-pattern="/^.+@.+\..+$/"
                    required>
                <div ng-messages="createParent.emailAddress.$error" role="alert" ng-show="createParent.emailAddress.$invalid">
                    <div ng-message="required">Required</div>
                    <div ng-message="pattern">Not a valid email address</div>
                    <div ng-message="maxlength">Email address too long</div>
                </div>
            </md-input-container>
            <md-input-container>
                <input type="{{cp.hidePassword ? 'password' : 'text'}}" 
                    placeholder="Password"
                    ng-model="cp.password"
                    name="password"
                    minlength="6" 
                    maxlength="40"
                    md-maxlength="40"
                    required>
                <div ng-messages="createParent.password.$error" role="alert" ng-show="createParent.password.$invalid">
                    <div ng-message="required">Required</div>
                    <div ng-message="minlength">Password too short</div>
                    <div ng-message="maxlength">Password too long</div>
                </div>
            </md-input-container>
            <md-input-container>
                <input type="{{cp.hidePassword ? 'password' : 'text'}}" 
                    placeholder="Verify password"
                    ng-model="cp.vpassword"
                    name="vpassword"
                    minlength="6"
                    maxlength="40"
                    md-maxlength="40"
                    required
                    compare-to="cp.password">
                <div ng-messages="createParent.vpassword.$error" role="alert" ng-show="createParent.vpassword.$invalid && !createParent.password.$invalid">
                    <div ng-message="compareTo">Passwords do not match</div>
                </div>
            </md-input-container>
            <md-checkbox ng-model="cp.hidePassword" arial-label="Hide password">Hide password</md-checkbox>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end">
             <md-button ng-disabled="createParent.$invalid" type="submit" class="md-primary">
                Create parent account
            </md-button>
            <md-button ng-click="dlgCancel()">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

