<md-content flex 
            md-scroll-y 
            layout="column" 
            layout-fill 
            layout-align="center center" 
            ng-show="loaded">
  <md-card layout="column" ng-hide="bRunning" flex-gt-xs="50">
      <md-card-title>
          <md-card-title-text>
              <span class="md-headline">Pair Protexm with your router.</span>
          </md-card-title-text>
      </md-card-title>
      <md-card-content layout="column" class="md-padding">
          <span>Your router is the device often supplied by your Internet Service Provider to connect your household to the Internet</span>
          
          <span>Protexm works alongside your router to provide protection to devices connected to your WiFi and Wired internal network</span>

          <span>The pairing process ensures all devices connecting to your network can have their Internet access filtered by Protexm.</span>
          <span>Protexm will try to detect your router and configure it automatically.</span>
          <span>&nbsp;</span>
          <span>Some routers may require a Username and Password.</span>
          <span>Unless you have changed it, this information can usually be found printed on the router itself.</span>
          <span>&nbsp;</span>
      </md-card-content>
  </md-card>
  <md-content  layout-xs="column" layout="row" flex>
      <md-card layout="column" ng-hide="bRunning || ((bSuccess || bFailed || bNoPlugin) && !bDebug)" flex-gt-xs="50">
        <form name="routerForm" layout="column" ng-submit="startRouterControl()">
          <md-card-title>
              <md-card-title-text>
                  <span class="md-headline">Automatic Pairing</span>
              </md-card-title-text>
          </md-card-title>
          <md-card-content layout="column" class="md-padding">
             <div layout="column" layout-fill>
                 <span>Protexm supports Automatic pairing for many common routers</span>
                 <span>Your router has been identified as</span>
                  <span>&nbsp;</span>
                 <span class="md-title">TODO{{routerFriendlyName}}</span>
                  <span>&nbsp;</span>
                 <span ng-show "isSupportedRouter">Protexm supports automatic configuration for this router</span>
                 <span ng-hide "isSupportedRouter">Protexm does not currently support automatic configuration for this router</span>
                 <span ng-hide "isSupportedRouter">Please use Manual Pairing</span>
                 <span>Click the button below to attempt to pair Protexm automatically.</span>
             </div>
             <div layout="column" ng-show="bPassword">
                <div layout="row" layout-align="left center">
                    <div class="md-padding"><i class="material-icons">info_outline</i></div>
                        <div>Your router has requested additional information</div>
                    </div>
                </div>
                <md-input-container ng-show="bUsername">
                    <input type="text" 
                        placeholder="Username"
                        ng-model="username"
                        name="username"
                        md-maxlength="255" 
                        ng-required="bUsername">
                    <div ng-messages="routerForm.username.$error" role="alert" ng-show="routerForm.username.$invalid">
                        <div ng-message="required">Required</div>
                    </div>
                </md-input-container>
                <md-input-container ng-show="bPassword">
                    <input
                        type="{{hidePassword ? 'password' : 'text'}}" 
                        placeholder="Password"
                        ng-model="password"
                        name="password"
                        minlength="0" 
                        maxlength="40"
                        md-maxlength="40"
                        ng-required="bPassword">
                    <div ng-messages="routerForm.password.$error" role="alert" ng-show="routerForm.password.$invalid">
                        <div ng-message="required">Required</div>
                    </div>
                </md-input-container>
                <md-checkbox ng-show="bPassword" ng-model="hidePassword" arial-label="Hide password">Hide password</md-checkbox>
           </div>
           <div layout="row" layout-align="center center" class="md-padding">
             <md-checkbox ng-show="bDebug" ng-model="undoRouterControl" arial-label="Undo changes">Undo changes</md-checkbox>
             <span flex></span>
             <md-card-actions layout="row" layout-align="end">
               <md-button ng-disabled="routerForm.$invalid" type="submit" class="md-raised md-primary">Configure Router</md-button>
             </md-card-actions>
           </div>
          </md-card-content>
        </form>
      </md-card>

      <md-card layout="column" ng-hide="bRunning || ((bSuccess || bFailed || bNoPlugin) && !bDebug)" flex-gt-xs="50">
        <form name="manualPairing" layout="column" ng-submit="setManualPairing()" layout-fill>
          <md-card-title>
              <md-card-title-text>
                  <span class="md-headline">Manual Pairing</span>
              </md-card-title-text>
          </md-card-title>
          <md-card-content layout="column" class="md-padding">
              <div ng-show="bDHCPFail">
                  <div>Protexm was not assigned an address on the household network</div>
                  <p>If you have already disabled DHCP on your router. Enter the IP address of your router below.</p>
                  <div>Otherwise, ensure Protexm is connected to your router, with the LAN cable.</div>
                  <p>If you have recently connected the LAN cable, please wait a few seconds for the UI to update. You may have to navigate to a new IP address.</p>
              </div>
              <div ng-hide="bDHCPFail">
                  <div>If your router is not currently supported by the Automatic pairing process, you must configure it manually.</div>
                  <p>In a separate browser tab, navigate to the Administration console of your router, and disable DHCP.</p>
                  <p>Once complete, confirm the IP address of your router below.</p>
              </div>
             <div layout="column">
                <md-input-container>
                    <input type="text" 
                        placeholder="Router IP Address"
                        ng-model="ipRouter"
                        name="ipRouter"
                        md-minlength="7" 
                        md-maxlength="15" 
                        ng-required="true"
                        ng-change="genApplianceIPValidator(); suggestApplianceIP()"
                        ng-pattern="routerIPValidPattern">
                        <!--ng-model-options="{updateOn:'blur'}"-->
                    <div ng-messages="manualPairing.ipRouter.$error" role="alert" ng-show="manualPairing.ipRouter.$invalid">
                        <div ng-message="required">Required</div>
                        <div ng-message="pattern">Enter a valid ip address {{routerIPValidPattern}}</div>
                    </div>
                </md-input-container>
                <md-checkbox ng-model="advNoDHCP" arial-label="Advanced settings">Advanced settings</md-checkbox>

                <div layout="column" ng-show="advNoDHCP">
                    <p>Protexm has suggested an IP address for itself based on the address of your router</p>
                    <p><b>You should not normally need to change this address</b></p>
                    <md-input-container>
                        <input type="text" 
                            placeholder="Protexm IP Address"
                            ng-model="ipAddress"
                            name="ipAddress"
                            md-minlength="7" 
                            md-maxlength="15" 
                            ng-required="true"
                            ng-pattern="ipValidPattern">
                        <div ng-messages="manualPairing.ipAddress.$error" role="alert" ng-show="manualPairing.ipAddress.$invalid">
                            <div ng-message="required">Required</div>
                            <div ng-message="pattern">Enter a valid ip address in the same network as the router</div>
                        </div>
                    </md-input-container>
                </div>
                <!--md-checkbox ng-model="advNoDHCP" arial-label="Advanced settings">Advanced settings</md-checkbox-->
                <div layout="column" layout-fill><!-- ng-show="advNoDHCP"-->
                    <div layout="row">
                        <!--md-input-container>
                            <input type="text" 
                                placeholder="Subnet mask"
                                ng-model="ipSubnet"
                                name="ipSubnet"
                                md-minlength="7" 
                                md-maxlength="15" 
                                ng-required="true">
                            <div ng-messages="manualPairing.ipSubnet.$error" role="alert" ng-show="manualPairing.ipSubnet.$invalid">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container-->
                    </div>
                    <!--div layout="row">
                        <md-input-container>
                            <input type="text" 
                                placeholder="DHCP Start address"
                                ng-model="ipDHCPStart"
                                name="ipDHCPStart"
                                md-minlength="7" 
                                md-maxlength="15" 
                                ng-required="true">
                            <div ng-messages="manualPairing.ipDHCPStart.$error" role="alert" ng-show="manualPairing.ipDHCPStart.$invalid">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <input type="text" 
                                placeholder="DHCP End address"
                                ng-model="ipDHCPEnd"
                                name="ipDHCPEnd"
                                md-minlength="7" 
                                md-maxlength="15" 
                                ng-required="true">
                            <div ng-messages="manualPairing.ipDHCPEnd.$error" role="alert" ng-show="manualPairing.ipDHCPEnd.$invalid">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                    </div-->
                </div>
             </div>
             <md-card-actions layout="row" layout-align="end" class="md-padding">
                <md-button ng-disabled="manualPairing.$invalid" type="submit" class="md-raised md-primary">Manual pairing</md-button>
            </md-card-actions>
          </md-card-content>
        </form>
      </md-card>

      <md-card layout="column" ng-show="bRunning">
          <md-card-content layout="column" class="md-padding">
             <h2>Automatic pairing in progress</h2>
             <div layout="row">
                 <md-progress-circular ng-disabled="!bRunning" class="md-padding md-warn md-hue-3" md-diameter="60"></md-progress-circular>
                 <div layout="column">
                     <div ng-show="pairingStatusTitle">{{pairingStatusTitle}}</div>
                     <div ng-show="pairingStatusText">{{pairingStatusText}}</div>
                 </div>
             </div>
          </md-card-content>
      </md-card>


      <md-card layout="column" ng-show="bSuccess && !undoRouterControl">
          <md-card-content layout="column" class="md-padding" layout-fill>
             <h2>Automatic pairing succeeded</h2>
             <p>Your router is now paired with Protexm</p>
          </md-card-content>
      </md-card>
      
      <md-card layout="column" ng-show="bSuccess && undoRouterControl">
          <md-card-content layout="column" class="md-padding" layout-fill>
             <h2>Automatic UNPAIRING succeeded</h2>
             <p>SETTINGS RESTORED</p>
          </md-card-content>
      </md-card>

      <md-card layout="column" ng-show="bFailed">
          <md-card-content layout="column" class="md-padding" layout-fill>
             <h2>Automatic pairing failed</h2>
             <p>{{infoMessage}}</p>
          </md-card-content>
      </md-card>
      
      <md-card layout="column" ng-show="bNoPlugin">
          <md-card-content layout="column" class="md-padding" layout-fill>
             <h2>Automatic pairing is not available for your router</h2>
             <p>Model Information: {{infoMessage}}</p>
             <p>Please configure your router manually</p>
          </md-card-content>
      </md-card>

  </md-content>
  <md-card layout="column" layout-fill ng-show="bDebug">
      <md-card-content layout="column" class="md-padding" layout-fill>
         <h2>Automatic pairing in progress - debug output</h2>
         <iframe width="100%" height="1000" id="routercontrol" ng-src="{{router_portal_url}}"></iframe>
      </md-card-content>
  </md-card>
</md-content>
