<md-content flex md-scroll-y layout="column" layout-fill layout-align="center center" ng-show="configService.isConfigLoaded('system')">

  <md-card layout="column">
      <md-card-content layout="column" class="md-padding">
         <h2>Switch PRISTINE/BASICFILTER</h2>
         <div layout="row">
             <md-card-actions layout="row" layout-align="end">
               <md-button class="md-raised md-primary" ng-click="toggleMode()">TOGGLE STATE</md-button>
             </md-card-actions>
         </div>
      </md-card-content>
  </md-card>

  <md-card layout="column"
      ng-show="configService.isConfigLoaded('system') && configService.isConfigLoaded('dnsproviders') && configService.isConfigLoaded('catproviders')">
      <md-card-content layout="column" class="md-padding">
         <h2>Service Provider Configuration</h2>
         <div></div>
         <form name="providerSettings" ng-submit="setProviders()" layout="column" layout-fill>
             <md-input-container>
                <label>DNS Provider</label>
                <md-select ng-model="DNSProvider">
                    <md-option ng-repeat="provider in dnsproviders.children" value="{{provider.name}}">
                        {{ get(provider, "files[?(@.name == 'name')].data[0]") }}
                    </md-option>
                </md-select>
             </md-input-container>
             <md-input-container>
                <label>Category Provider</label>
                <md-select ng-model="CATProvider">
                    <md-option ng-repeat="provider in catproviders.children" value="{{provider.name}}">
                        {{ get(provider, "files[?(@.name == 'name')].data[0]") }}
                    </md-option>
                </md-select>
             </md-input-container>
             
             <md-switch ng-model="LocalBlock" class="md-padding" ng-true-value="'1'" ng-false-value="'0'">Use Protexm Block page</md-switch>
             
             <md-card-actions layout="row" layout-align="end">
               <md-button class="md-raised md-primary" type="submit" ng-disabled="providerSettings.$pristine">CHANGE PROVIDER SETTINGS</md-button>
             </md-card-actions>
         </form>
      </md-card-content>
  </md-card>

</md-content>
