<div >
<md-content flex md-scroll-y layout="row" layout-padding layout-fill layout-align="center center" 
            ng-show="get(system, 'files[?(@.name == \'state\')].data[0]') == 'PRISTINE'">
    <div class="inset" hide-sm></div>

    <md-card flex-gt-sm="90" flex-gt-md="80" layout-align="center center" ng-show="get(system, 'files[?(@.name == \'state\')].data[0]') == 'PRISTINE'">
        <md-card-content><h1>PRISTINE: Protexm is not configured</h1> </md-card-content>
    </md-card>
</md-content>

<md-content flex md-scroll-y layout="column" layout-padding layout-fill layout-align="center center"
            ng-show="get(system, 'files[?(@.name == \'state\')].data[0]') == 'BASICFILTER'">
    <div class="inset" hide-sm></div>

    <md-card>
        <md-card-content><h3>Protexm is paired with your router and protecting all devices on the Local network.</h3> </md-card-content>
    </md-card>

    <md-card>
        <md-card-content> 
            <h2>To customise Internet access for any device, please create a Parent account</h2>
            <md-button aria-label="Create account" class="md-primary md-raised" ng-click="showRegisterParentDialog($event)">Create account</md-button>
        </md-card-content>
    </md-card>
</md-content>

<div ng-show="blxSessionService.isLoggedIn()">
<md-content flex md-scroll-y layout="column" layout-padding layout-fill layout-align="center center"
            ng-show="get(system, 'files[?(@.name == \'state\')].data[0]') == 'CONFIGURED'">
    <div class="inset" hide-sm></div>

    <md-card>
        <md-card-content><h3>Protexm is paired with your router and protecting all devices on the Local network.</h3> </md-card-content>
    </md-card>

    <md-card>
        <md-card-content> 
            <h2>You are logged in</h2>
        </md-card-content>
    </md-card>
</md-content>
</div>

<div ng-hide="blxSessionService.isLoggedIn()">
<md-content flex md-scroll-y layout="row" layout-fill layout-align="center center"
            ng-show="get(system, 'files[?(@.name == \'state\')].data[0]') == 'CONFIGURED'" flex="30">

    <md-card layout="column" ng-show="get(system, 'files[?(@.name == \'state\')].data[0]') == 'CONFIGURED'" flex="30">
        <form name="loginDlg" layout="column" ng-submit="doLogin()">
            <md-toolbar>
                <div class="md-toolbar-tools"><h2>Login</h2></div>
            </md-toolbar>

            <md-card-content layout="row" class="md-padding" >
                <div layout="column" flex>
                    <md-input-container>
                        <input type="text" 
                            placeholder="Email address"
                            ng-model="loginParam.emailAddress"
                            name="emailAddress"
                            minlength="3" 
                            maxlength="255" 
                            md-maxlength="255" 
                            ng-pattern="/^.+@.+\..+$/"
                            required>
                        <div ng-messages="loginDlg.emailAddress.$error" role="alert" ng-show="loginDlg.emailAddress.$invalid">
                            <div ng-message="required">Required</div>
                            <div ng-message="pattern">Not a valid email address</div>
                            <div ng-message="maxlength">Email address too long</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <input type="{{loginParam.hidePassword ? 'password' : 'text'}}" 
                            placeholder="Password"
                            ng-model="loginParam.password"
                            name="password"
                            minlength="6" 
                            maxlength="40"
                            md-maxlength="40"
                            required>
                        <div ng-messages="loginDlg.password.$error" role="alert" ng-show="loginDlg.password.$invalid">
                            <div ng-message="required">Required</div>
                            <div ng-message="minlength">Password too short</div>
                            <div ng-message="maxlength">Password too long</div>
                        </div>
                    </md-input-container>
                    <md-checkbox ng-model="loginParam.hidePassword" arial-label="Hide password">Hide password</md-checkbox>
                </div>
            </md-card-content>
            <div layout="row">
                <md-input-container>
                    <div ng-show="blxSessionService.getLoginMessage()" class="md-input-message-animation error">{{blxSessionService.loginMessage}}</div>
                </md-input-container>
                <span flex></span>
                <md-card-actions layout="row" layout-align="end">
                     <md-button ng-disabled="loginDlg.$invalid" type="submit" class="md-primary">Login</md-button>
                </md-card-actions>
            </div>
        </form>
      </md-card>
</md-content>
</div>

</div>

